
<!doctype html>
{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<main>
  <br/>
  <br/>
        
        <h1 class=" text-center my-4">{{category.tag}}
        </h1>
    <hr/>
  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">


        {%for blog in blogs%}
        <!-- Blog Post -->
        <div class="card mb-4">
          <img class="card-img-top" src="{{blog.image.url}}" alt="Card image cap">
          <div class="card-body">
            <h2 class="card-title">{{blog.title}}</h2>
            <i> Tags: 
              {%for tag in blog.tag.all%}
              {%if tag == blog.tag.last%}
              <a href = "{%url 'detailedcategory' tag.tag %}">{{tag.tag}}</a>
              {%else%}
              <a href = "{%url 'detailedcategory' tag.tag %}">{{tag.tag}}</a>,
              {%endif%}
              {%endfor%}
            </i>
            <br/>
            <p class="card-text">{{blog.intro}}</p>
            <a href="{%url 'detail' blog.id %}" class="btn btn-primary">Read More &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            Posted on {{blog.pretty_date}}
          </div>
        </div>
        {%endfor%}

      </div>



      </div>

    </div>
    <!-- /.row -->

  </div>

</body>
</main>
</html>
{%endblock%}