{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{blog.title}}</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/blog-post.css" rel="stylesheet">

</head>

<body>


  <!-- Page Content -->
  <div class="container">

        <!-- Title -->
        <br/>
        <br/>
        <h1 class="mt-4">{{blog.title}}</h1>


        <!-- Date/Time -->
        <p>Posted on {{blog.created}}</p>

        <hr>

        <!-- Preview Image -->
        <p style="text-align:center;">
        <img class="marginauto img-fluid rounded " src="{{blog.image.url}}" style="" />
      </p>
        <hr>
        <!-- Post Content -->
        <p>{{blog.body|safe}}</p>

    <!-- /.row -->
  </div>
  <!-- /.container -->
</body>

</html>
{% endblock %}